.closeFriend {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.closeProfileImgContainer {
    margin-right: 10px;
    position: relative;
}

.closeProfileImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.closeOnlineBadge {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: limegreen;
    position: absolute;
    border: 2px solid white;
    bottom: 0px;
    right: 0px;
}

.closeUsername {
    font-weight: 500;   
}